:root {
    --header: #9fb9d1;
    --sidebar: #f5f5f5;
    --info: #d9dce3;
    --footer: #9fb9d1;
    --bg-shadow: gray;
  
    --border: #d7d7d7;
    --checkbox: #d7d7d7;
  
    --low-priority: #f2bb05;
    --medium-priority: #f49e4c;
    --high-priority: #b52c28;
  }
  /* TESTINGGGGGGGGGGGGGGGGGGGGGGGGGG*/
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th {
    padding: 10px;
    cursor: pointer;
    text-align: left;
  }
  
  th:hover {
    background-color: #f0f0f0;
  }
  
  td.taskTitle {
    padding-left: 8px;
  }
  
  .tabgroup {
    width: 80%;
    margin: auto;
  }
  
  .tab {
    user-select: none;
    width: 238px;
    text-align: center;
    border-bottom: 1px solid var(--border);
  }
  
  /* Add specific styles for each tab if needed */
  [data-tab="primary"] {
    /* Your styles for the "Primary" tab */
  }
  
  [data-tab="promotions"] {
    /* Your styles for the "Promotions" tab */
  }
  
  [data-tab="social"] {
    /* Your styles for the "Social" tab */
  }
  
  /* TESTINGGGGGGGGGGGGGGGGGGGGGGGGGG*/
  
  * {
    margin: 0px;
    padding: 0px;
    color: #202124;
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
    letter-spacing: normal;
  }
  
  .container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 15fr 1fr;
  }
  
  .headerInnerContainer {
    /*border: 2px solid red;*/
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 160px;
    padding: 8px;
  }
  
  .logo {
    position: relative;
  }
  
  .main {
    border: 2px solid green;
  
    display: flex;
  }
  
  .sidebar {
    width: 240px;
    display: flex;
    flex-direction: column;
    background-color: var(--sidebar);
    box-shadow: 1px 1px 5px gray;
    transition: 0.5s ease-in-out;
    padding-top: 10px;
    justify-items: center;
    line-height: 2;
  }
  
  #menuIcon {
    cursor: pointer;
  }
  
  .bar1,
  .bar2,
  .bar3 {
    width: 20px;
    height: 3px;
    background-color: #333;
    margin: 3px 3px;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 7px) rotate(-45deg);
  }
  
  .change .bar2 {
    opacity: 0;
  }
  
  .change .bar3 {
    transform: translate(0, -5px) rotate(45deg);
  }
  
  img {
    width: 20px;
  }
  
  .info {
    flex: 0.5;
    border: 2px solid blue;
  }
  
  .active {
    width: 50px;
    transition: 0.5s ease-in-out;
    text-align: center;
    line-height: 2;
    overflow: hidden;
    text-overflow: ellipses;
    white-space: nowrap;
  }
  
  .hidden {
    display: none;
    transition: 0.5s ease-in-out;
  }
  
  /* MAIN CONTENT MIDDLE SECTION */
  .content {
    flex: 3;
    padding: 20px 50px;
  }
  .content > .heading {
    text-align: center;
  }
  
  button {
    background: none;
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: none;
  }
  
  .tasks {
    border-bottom: 1px solid var(--border);
    line-height: 2;
  }
  
  .tasks:hover {
    cursor: pointer;
    box-shadow: 1px 1px 5px gray;
  }
  
  .taskContainer {
    /*border: 2px solid red;*/
  }
  
  .taskCard {
    /*border: 2px solid green;*/
    align-items: center;
    border-bottom: 1px solid var(--border);
    margin-top: 8px;
    border-radius: 4px;
    padding: 0px 16px;
    min-height: 42px;
  
    display: flex;
    position: relative;
    word-wrap: break-word;
    word-break: break-word;
    flex-wrap: wrap;
  }
  
  .taskCard:hover {
    box-shadow: 0px 0.3px 0.9px var(--border), 0px 1.6px 3.6px var(--border);
  }
  
  .checkBox {
    margin: auto;
    cursor: pointer;
  }
  
  .taskDetails {
    /*border: 2px solid blue;*/
    font-size: 0.75rem;
    color: #323130;
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 10fr;
    overflow: hidden;
    cursor: pointer;
    text-align: left;
    align-items: center;
    padding-left: 8px;
  }
  
  .taskInner {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 5fr 1fr;
  }
  
  .taskTitle {
    flex: 2;
    font-size: 0.85rem;
    font-weight: 600;
  }
  
  .days {
    text-align: center;
    margin-left: 10px;
  }
  
  .metaData {
    display: flex;
    /*border: 2px solid red;*/
    gap: 5px;
  }
  
  .priority {
    /*border: 2px solid pink;*/
    text-align: center;
    margin-left: 10px;
    border-radius: 30px;
  }
  
  .low {
    background-color: var(--low-priority);
  }
  
  .medium {
    background-color: var(--medium-priority);
  }
  
  .high {
    background-color: var(--high-priority);
    color: white;
  }
  
  /* END OF MAIN CONTENT */
  
  .footer {
    border: 2px solid blue;
  }
  
  /* TESTING NEW TABLE ROWS */
  
  .testing {
    width: 80%;
    margin: auto;
    border: 2px solid red;
  }
  
  .tdtr {
    display: flex;
    position: relative;
    padding: 10px;
  }
  
  .tdcheckbox {
    flex: 0.3;
  }
  
  .tdcheck {
    width: 0.9rem;
    height: 0.9rem;
    background: var(--checkbox);
    border: 1px solid gray;
    border-radius: 3px;
    justify-self: end;
    margin-right: 1rem;
    cursor: pointer;
  }
  
  .tdtitle {
    flex: 1;
  }
  
  .tddescr {
    flex: 3;
  }
  
  .tdduedate {
    text-align: center;
  }
  
  .tdlabel {
    margin: auto;
  }
  
  .tdlabels {
    display: inline-block;
    padding: 0px 5px;
    border: 2px solid lightgray;
    border-radius: 10px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
  }
  
  .tdpriority {
    border-radius: 10px;
    text-align: center;
  }
  